<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AniPY</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:ital,wght@0,200;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/homepage.css">
    <title>AniPY</title>

</head>
<body>

    <div>
        <nav class="top-right">
            <ul>
                <li><a class="login" href="/login">Log in</a></li>
                <li><a class="text2" href"#">About</a></li>
            </ul>

        </nav>
    </div>

    <div class="centered">
        <p class="text">Browse Your Favorite Anime Here</p>
        <nav class="belowcenter">
            <a class="button" href="/signup">Let's Get Started</a>
        </nav>
    </div>

    <div class="table">
        <div>
            <img src="/static/black clover2.jpg"/>
        </div>
        <div>
            <img src="/static/parasyte.jpg"/>
        </div>
        <div>
            <img src="/static/jujutsu2.jpg"/>
        </div>
        <div>
            <img src="/static/one piece.jpg"/>
        </div>
    </div>
</body>
<script>

</script>
</html>