{% extends "layout.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/homepage.css">
{% endblock %}

{% block title %}
    Sign up
{% endblock %}

{% block main %}

     <div>
        <nav class="top-right">
            <ul>
                <li><a class="login1" href="/login">Log in</a></li>
                <li><a class="text3" href="/">About</a></li>
            </ul>

        </nav>
    </div>

    <div class="table1">
        <div>
            <img class="image1" src="/static/black clover2.jpg"/>
        </div>
        <div>
            <img class="image1" src="/static/parasyte.jpg"/>
        </div>
        <div>
            <img class="image1" src="/static/jujutsu2.jpg"/>
        </div>
        <div>
            <img class="image1" src="/static/one piece.jpg"/>
        </div>
    </div>
    <form action="/signup" class="box2" method="post" autocomplete="off">
        <h1>Sign up</h1>
        <input type="text" name="name" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <input type="password" name="repassword" placeholder="retype password">
        <input type="submit" name="submit" value="submit">
        {% if get_flashed_messages() %}
        <div class="alert alert-transparent mb-0 text-center alert1" role="alert">
            {{ get_flashed_messages() | join(" ") }}
        </div>
    {% endif %}
    </form>
{% endblock %}